<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <h1>Welcome to the Forum!</h1><br>
        <div id="error-message" v-bind:error="error">{{ error }}</div>
        <div id="homepage" v-if="page == 'home'">
            <h2>This is the homepage.  Congrats on logging in.</h2>
            <input type="text" placeholder="Thread Name" v-model="threadNameInput"><br>
            <input type="text" placeholder="Thread Description" v-model="threadDescInput"><br>
            <input type="text" placeholder="Thread Category" v-model="threadCatInput"><br>
            <button v-on:click="postThread()">Post Thread</button>
            <div v-for="thread in allThreads">
                <h2>{{ thread.name }}</h2>
                <p>{{ thread.description }} - <i>{{ thread.user.fullname }}</i></p>
                <input type="text" placeholder="Post to Thread" v-model="postBodyInput">
                <button v-on:click="postPost()">Post</button>
            </div>
        </div>
        <div id="login-bar" v-if="page == 'login'">
            <h2>Log In</h2>
            <input type="email" placeholder="email" v-model="emailInput">
            <input type="password" placeholder="password" v-model="passwordInput">
            <button v-on:click="postSession()">Log In</button>
            <button v-on:click="showSignUp()" >Sign Up</button>
        </div>
        <div id="signup-bar" v-if="page == 'signup'">
            <h2>Sign Up</h2>
            <input type="text" placeholder="Full Name" v-model="nameInput">
            <input type="email" placeholder="email" v-model="emailInput">
            <input type="password" placeholder="password" v-model="passwordInput">
            <button v-on:click="showLogin()" v-on:click="postUser()">Create Account</button>
        </div>
    </div>
    <div id="error-message"></div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>